.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  height: 100vh;
  margin-top: 100px;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.hero-section h1 {
  font-family: "cCodetan", sans-serif;
  font-size: 5rem;
  margin: 20px 0;
  color: var(--primary-color);
}

.hero-section h2 {
  font-size: 1.8rem;
  margin: 10px 0;
  font-weight: 600;
}

.hero-section h2 span {
  font-weight: normal;
}

.hero-section p {
  font-size: 1.2rem;
  margin: 15px 0;
  max-width: 800px;
  line-height: 1.6;
}


.register-button {
  display: inline-flex;
  align-items: center;
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0;
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.register-button .arrow {
  margin-right: 10px;
}

.register-button:hover {
  transform: scale(1.1);
}

.sponsor-link {
  font-size: 1.1rem;
  color: var(--primary-color);
  text-decoration: none;
  margin-top: 15px;
  font-weight: bold;
}

.sponsor-link:hover {
  text-decoration: underline;
}


@media (max-width: 1024px) {
  .hero-section h1 {
    font-size: 3.8rem;
  }

  .hero-section h2 {
    font-size: 1.5rem;
  }

  .register-button {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .sponsor-link {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 3rem;
  }

  .hero-section h2 {
    font-size: 1.3rem;
  }

  .register-button {
    font-size: 0.95rem;
    padding: 10px 18px;
  }

  .hero-section p {
    font-size: 0.95rem;
  }

  .sponsor-link {
    font-size: 0.95rem;
  }
}
