.schedule-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.schedule-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.day-schedule {
  margin-bottom: 40px;
}

.day-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 20px;
  padding-bottom: 10px;
  
}

.event-table {
  width: 100%;
  border-collapse: collapse;
}

.event-table th,
.event-table td {
  text-align: left;
  padding: 15px;
  border: 1px solid var(--secondary-color);
  font-size: 1.2rem;
}

.event-table th {
  background-color: var(--secondary-color);
  color: white;
  font-weight: 600;
}

.event-table td {
  background-color: #ffffff;
  color: var(--p-color);
}



@media (max-width: 768px) {
  .schedule-title {
    font-size: 2rem;
  }

  .day-title {
    font-size: 1.2rem;
  }

  .event-table th,
  .event-table td {
    font-size: 1rem;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .schedule-container {
    padding: 20px;
  }

  .schedule-title {
    font-size: 2rem;
  }

  .day-title {
    font-size: 1.2rem;
  }

  .event-table th,
  .event-table td {
    font-size: 1rem;
    padding: 10px;
  }
}
